@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: Roboto;
    background: gray;
    min-height: 50vh;
}
footer{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
}
.input input{
    width: 500px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input .ajust-titulo{
    margin-left: 15px;
    padding-left: 15px;
}
.input .ajust-data{
    margin-left: 20px;
    padding-left: 15px;
}
.input .ajust-categoria{
    margin-left: 5px;
    padding-left: 9px;
}
.wrapper{
    margin-top: 100px;
}
.navbar{
    background: rgb(61, 61, 240);
    height: 95px;
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
    color: white
}
.Pages container-fluid{
    display: flex;
    justify-content: center;
    align-content: space-between;
}
.Charts{
    padding-top: 20px;
    border-radius: 15px;
    border: 1px solid lightgray;
    padding: 50px;
    box-shadow: 3px 3px 5px 3px lightgray;
}
.chart-frame{
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 2px 2px 4px 2px lightgray;
}
.title-home{
    display: inline-block;
    font-family: Roboto;
    margin-bottom: 25px;
    border-bottom: 3px solid rgb(61, 61, 240);
}
.input{
    margin: 20px;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
}
.card{
    width: 650px;
    height: auto;
    padding: 20px;
    box-shadow: 3px 5px 5px lightgray;
}
.Form-add{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-frame{
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 25px;
    box-shadow:  3px 5px 5px lightgray;
    text-align: center;
}
.table{
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    /* box-shadow:  3px 5px 5px lightgray; */
}
.action{
    margin: 5px;
}

.detail-task{
    display: flex;
    justify-content: center;
    align-items: center;
}
.informations{
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 10px;
    margin: 15px 0;
}
.informations span{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 2px;
    margin: 2px 0;
}
.task{
    width: 950px;
    height: auto;
}
.description{
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
/* .top button{
     width: 100px; */

.display-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-buttons button{
    margin: 2px;
    display: inline-block;
    width: 100px;
}


