@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: Roboto;
    background: gray;
    min-height: vh;
}
footer{
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: rgb(61, 61, 240);
}
.input input{
    width: 500px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input .ajust-titulo{
    margin-left: 15px;
    padding-left: 15px;
}
.input .ajust-data{
    margin-left: 20px;
    padding-left: 15px;
}
.input .ajust-categoria{
    margin-left: 5px;
    padding-left: 9px;
}
.wrapper{
    margin-top: 20px;
}
.navbar{
    background: rgb(61, 61, 240);
    height: 95px;
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
    color: white
}
.Pages container-fluid{
    display: flex;
    justify-content: center;
    align-content: space-between;
}
.Charts{
    padding-top: 20px;
}
.chart-frame{
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
}
.title-home{
    display: inline-block;
    font-family: Roboto;
    margin-bottom: 25px;
    border-bottom: 3px solid rgb(61, 61, 240);
}
.input{
    margin: 20px;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
}
.card{
    width: 650px;
    height: auto;
    padding: 20px;
    box-shadow: 3px 5px 5px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}